{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@core": "./src/core",
          "@shared": "./src/shared",
          "@dtos": "./src/dtos",
          "@customer": "./src/customer",
          "@admin": "./src/admin",
          "@store": "./src/store"
        }
      }
    ]
  ],
  "ignore": [
    "**/*.test.ts",
    "**/*.spec.ts",
    "**/@types/**"
  ]
}
